<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>With.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>36FBAC8BD23A39D91DFFE3F3B7816B64ED2EEC36</string>
				<key>dateExpires</key>
				<string>20/08/2022</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36FBAC8BD23A39D91DFFE3F3B7816B64ED2EEC36</string>
						<key>dateExpires</key>
						<string>20/08/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7UUB6QA46</string>
						<key>name</key>
						<string>Mustafa Yanar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36FBAC8BD23A39D91DFFE3F3B7816B64ED2EEC36</string>
						<key>dateExpires</key>
						<string>20/08/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7UUB6QA46</string>
						<key>name</key>
						<string>Mustafa Yanar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36FBAC8BD23A39D91DFFE3F3B7816B64ED2EEC36</string>
						<key>dateExpires</key>
						<string>20/08/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7UUB6QA46</string>
						<key>name</key>
						<string>Mustafa Yanar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36FBAC8BD23A39D91DFFE3F3B7816B64ED2EEC36</string>
						<key>dateExpires</key>
						<string>20/08/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7UUB6QA46</string>
						<key>name</key>
						<string>Mustafa Yanar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36FBAC8BD23A39D91DFFE3F3B7816B64ED2EEC36</string>
						<key>dateExpires</key>
						<string>20/08/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7UUB6QA46</string>
						<key>name</key>
						<string>Mustafa Yanar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36FBAC8BD23A39D91DFFE3F3B7816B64ED2EEC36</string>
						<key>dateExpires</key>
						<string>20/08/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7UUB6QA46</string>
						<key>name</key>
						<string>Mustafa Yanar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36FBAC8BD23A39D91DFFE3F3B7816B64ED2EEC36</string>
						<key>dateExpires</key>
						<string>20/08/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7UUB6QA46</string>
						<key>name</key>
						<string>Mustafa Yanar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36FBAC8BD23A39D91DFFE3F3B7816B64ED2EEC36</string>
						<key>dateExpires</key>
						<string>20/08/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7UUB6QA46</string>
						<key>name</key>
						<string>Mustafa Yanar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36FBAC8BD23A39D91DFFE3F3B7816B64ED2EEC36</string>
						<key>dateExpires</key>
						<string>20/08/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7UUB6QA46</string>
						<key>name</key>
						<string>Mustafa Yanar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36FBAC8BD23A39D91DFFE3F3B7816B64ED2EEC36</string>
						<key>dateExpires</key>
						<string>20/08/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7UUB6QA46</string>
						<key>name</key>
						<string>Mustafa Yanar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36FBAC8BD23A39D91DFFE3F3B7816B64ED2EEC36</string>
						<key>dateExpires</key>
						<string>20/08/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7UUB6QA46</string>
						<key>name</key>
						<string>Mustafa Yanar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36FBAC8BD23A39D91DFFE3F3B7816B64ED2EEC36</string>
						<key>dateExpires</key>
						<string>20/08/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7UUB6QA46</string>
						<key>name</key>
						<string>Mustafa Yanar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36FBAC8BD23A39D91DFFE3F3B7816B64ED2EEC36</string>
						<key>dateExpires</key>
						<string>20/08/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7UUB6QA46</string>
						<key>name</key>
						<string>Mustafa Yanar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36FBAC8BD23A39D91DFFE3F3B7816B64ED2EEC36</string>
						<key>dateExpires</key>
						<string>20/08/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7UUB6QA46</string>
						<key>name</key>
						<string>Mustafa Yanar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36FBAC8BD23A39D91DFFE3F3B7816B64ED2EEC36</string>
						<key>dateExpires</key>
						<string>20/08/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7UUB6QA46</string>
						<key>name</key>
						<string>Mustafa Yanar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36FBAC8BD23A39D91DFFE3F3B7816B64ED2EEC36</string>
						<key>dateExpires</key>
						<string>20/08/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7UUB6QA46</string>
						<key>name</key>
						<string>Mustafa Yanar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36FBAC8BD23A39D91DFFE3F3B7816B64ED2EEC36</string>
						<key>dateExpires</key>
						<string>20/08/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7UUB6QA46</string>
						<key>name</key>
						<string>Mustafa Yanar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36FBAC8BD23A39D91DFFE3F3B7816B64ED2EEC36</string>
						<key>dateExpires</key>
						<string>20/08/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7UUB6QA46</string>
						<key>name</key>
						<string>Mustafa Yanar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36FBAC8BD23A39D91DFFE3F3B7816B64ED2EEC36</string>
						<key>dateExpires</key>
						<string>20/08/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7UUB6QA46</string>
						<key>name</key>
						<string>Mustafa Yanar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36FBAC8BD23A39D91DFFE3F3B7816B64ED2EEC36</string>
						<key>dateExpires</key>
						<string>20/08/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7UUB6QA46</string>
						<key>name</key>
						<string>Mustafa Yanar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36FBAC8BD23A39D91DFFE3F3B7816B64ED2EEC36</string>
						<key>dateExpires</key>
						<string>20/08/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geocoder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7UUB6QA46</string>
						<key>name</key>
						<string>Mustafa Yanar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36FBAC8BD23A39D91DFFE3F3B7816B64ED2EEC36</string>
						<key>dateExpires</key>
						<string>20/08/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7UUB6QA46</string>
						<key>name</key>
						<string>Mustafa Yanar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36FBAC8BD23A39D91DFFE3F3B7816B64ED2EEC36</string>
						<key>dateExpires</key>
						<string>20/08/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7UUB6QA46</string>
						<key>name</key>
						<string>Mustafa Yanar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36FBAC8BD23A39D91DFFE3F3B7816B64ED2EEC36</string>
						<key>dateExpires</key>
						<string>20/08/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7UUB6QA46</string>
						<key>name</key>
						<string>Mustafa Yanar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36FBAC8BD23A39D91DFFE3F3B7816B64ED2EEC36</string>
						<key>dateExpires</key>
						<string>20/08/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7UUB6QA46</string>
						<key>name</key>
						<string>Mustafa Yanar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36FBAC8BD23A39D91DFFE3F3B7816B64ED2EEC36</string>
						<key>dateExpires</key>
						<string>20/08/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7UUB6QA46</string>
						<key>name</key>
						<string>Mustafa Yanar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36FBAC8BD23A39D91DFFE3F3B7816B64ED2EEC36</string>
						<key>dateExpires</key>
						<string>20/08/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>location.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7UUB6QA46</string>
						<key>name</key>
						<string>Mustafa Yanar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36FBAC8BD23A39D91DFFE3F3B7816B64ED2EEC36</string>
						<key>dateExpires</key>
						<string>20/08/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7UUB6QA46</string>
						<key>name</key>
						<string>Mustafa Yanar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36FBAC8BD23A39D91DFFE3F3B7816B64ED2EEC36</string>
						<key>dateExpires</key>
						<string>20/08/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7UUB6QA46</string>
						<key>name</key>
						<string>Mustafa Yanar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36FBAC8BD23A39D91DFFE3F3B7816B64ED2EEC36</string>
						<key>dateExpires</key>
						<string>20/08/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7UUB6QA46</string>
						<key>name</key>
						<string>Mustafa Yanar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36FBAC8BD23A39D91DFFE3F3B7816B64ED2EEC36</string>
						<key>dateExpires</key>
						<string>20/08/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>video_player.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7UUB6QA46</string>
						<key>name</key>
						<string>Mustafa Yanar</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>J7UUB6QA46.com.velcrof.withApp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>J7UUB6QA46</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>J7UUB6QA46.com.velcrof.withApp</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>44958c64-cde3-4b48-bf80-4b5554d3794d</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.velcrof.withApp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>J7UUB6QA46</string>
				<key>name</key>
				<string>Mustafa Yanar</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
